.product-name {
    font-size: smaller;
    font-weight: 500;
}

.product-price {
    font-size: small;
    font-weight: 400;
    text-align: right;
}

.product-description {
    font-size: small;
    color: #A9A9A9;
    margin-top: -10px;
}

.continue-shopping-info-inner {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    height: fit-content !important;
    margin-bottom: 10px;
}

.continue-shopping-info-inner > p {
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

.quantity > input {
    width: 15%;
    height: 60%;
}