@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins:wght@100&display=swap');

.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFEFE;
    padding: 0px 60px;
    color: black;
    font-family: 'Poppins', sans-serif;
    height: 80px;
}

.navbarBrand{
    display:  flex;
    flex: 2;
    align-items: center;
    justify-items: flex-start;  
}

.navbarBrandImage{
    width: 100px;
    height: 100px;
}

.navbarBrandText{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.navbarSearchBox{
    display: flex;
    justify-items: flex-start;
    flex: 5;
    align-items: center;
    padding-left: 20px;
    border-radius: 20px;
    background-color: rgb(244, 244, 244);
    margin-left:30px;
    margin-top: 10px;
}

.navbarSearchBoxInput{
    width:90%;
    height: 40px;
    border:none;
    background-color: transparent;
    color: black;
    font-weight: bold;

}

.navbarSearchBoxInput:focus{
    border: none;
    outline: none;
}

.navbarSearchBoxIcon{
    color: black;
    font-size: 1.2rem;
}

.navbarMenu{
    display:flex;
    flex: 4;
    align-content: center;
    list-style: none;
    margin-left: 10px;
    font-weight: bold;
    justify-content:space-evenly;
    height: 100%;
}

.navbarMenuItem{
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left:10px ;
    padding-right: 10px;
    
}
.navbarMenuItem:hover{
    background-color: rgb(244, 244, 244);
}

.navbarCart{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}


.navbarCartCount{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}