.home {
    background-color: rgb(237, 237, 237);
    position: relative;
    height: max-content;
    min-height: 100vh;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5%;
}

.container {
    padding-top: 50px !important;
}